*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #1C1C1C;
    --blue-panel: #1F2937;
    --blue-panel--psw: #273549;
    --white: #FFFFFF;
    --green--title: #4ADF86;
    --green--btn: #10B981;
    --green--psw: #55F991;
    --font-family: "Karla", sans-serif;
}

body{
    background-color: var(--black);
}

.container{
    max-width: 850px;
    margin: 50px auto;
    padding: 80px;
    background-color: var(--blue-panel);
    border-radius: 10px;
    color: var(--white);
    font-family: var(--font-family);
}

h2 {
    font-size: 60px;
}
h2.color-green {
    color: var(--green--title);
}
p {
    font-size: 30px;
    margin: 20px 0;
}
button {
    background-color: var(--green--btn);
    color: var(--white);
    border: none;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
button:hover {
    background-color: var(--green--title);
}

hr{
    border-color: var(--blue-panel--psw);
}

.psw-container{
    display: flex;
    gap: 15px;
}

.psw-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--blue-panel--psw);
    color: var(--green--psw);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}